body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* grid-template: 0.5fr 2.5fr 0.5fr/ 0.5fr 2.5fr; */
  /* grid-column-gap: 30px;
  grid-row-gap: 50px; */
  /* grid-template-areas: "header header" 
                       "left right" 
                       "footer footer"; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2,200px);
  grid-gap: 10px;
  height: 100vh;
}
.item {
  background: lightblue;
  padding: 10px;
  outline: 2px solid red;
}
.item:nth-of-type(1) {
  background: blue;
  grid-column: 1/-1;
  grid-row: 1/span 3 ;
}
.item:nth-of-type(2) {
  background: blue;
  grid-column: 1/span 3;
  grid-row: 4/span 2;
  
}
.item:nth-of-type(3) {
  background: blue;
  grid-column: 4/span 2;
  grid-row: 4/span 2;
}
.item:nth-of-type(4) {
  background: blue;
  grid-column: 6/span 2;
}
.item:nth-of-type(5) {
  background: blue;
  grid-column: 6/span 1;
  grid-row: 3.5/span 1
}
.item:nth-of-type(6) {
  background: blue;
  grid-column: 7/span 1;
  grid-row: 3.5/span 1
}

/* }
.item .item {
  background: yellow;
}
.header{
  grid-area: header; 
}
.left{
  grid-area: left; 
  
}
.right{
  grid-area: right; 
}
.footer{
  grid-area: footer; 
} */
